/* !HTML Elements */
body{
    background: #fff;
    color: #111;
    font-size: 100%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    padding: 10px 11px;
}

a {
    color: #333;
    text-decoration: none;
}
a:hover {
    color: #459C97;
}

h1 {
    color: #002F63;
    font-size: 200%;
    font-weight: bold;
}

.about {
    margin-top: 0.1em;
    font-size: 120%;
    color: #415873;
}

#contact {
    font-size: 110%;
    margin-top: 0.8em;
}

#contact li {
    margin-bottom: 0.2em;
}