---
layout: default
---

<div class="home">

  {{ content }}

  {% capture site_lang %}{{ site.lang | default: "en" }}{% endcapture %}

  <ul class="post-list">
    {% for post in site.posts %}
      {% capture post_lang %}{{ post.lang | default: site_lang }}{% endcapture %}
      {% capture lang %}{% if post_lang != site_lang %}{{ post_lang }}{% endif %}{% endcapture %}

      <li{% if lang != empty %} lang="{{ lang }}"{% endif %}>
        <header class="post-header">
          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}{% if post.external-url %} &rarr;{% endif %}</a>
          </h2>

          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.categories != empty %} • {% include category_links.html categories=post.categories %}{% endif %}</p>
        </header>

        {% if post.content contains site.excerpt_separator %}
        <div class="post-content">
          {{ post.excerpt }}
        </div>
        <p class="post-continue">
          <a href="{{ post.url | relative_url }}">Read on &rarr;</a>
        </p>
        {% else %}
        <div class="post-content">
          {{ post.content }}
        </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% include pagination.html %}

</div>
