---
layout: default
---

<div class="home">

  {{ content }}

  {% capture site_lang %}{{ site.lang | default: "en" }}{% endcapture %}

  <section>
  <h2>Publications</h2>
  {% include publications.html publications=site.data.publications %}
  </section>

  <section>
  <h2>Talks</h2>
  {% include publications.html publications=site.data.talks %}
  </section>

  <section>
  <h2>Projects</h2>
  {% include projects.html projects=site.data.projects %}
  </section>
  
  <section>
  <h2>Blog Posts</h2>
  
  <ul class="post-list">
    {% for post in site.posts %}
      {% capture post_lang %}{{ post.lang | default: site_lang }}{% endcapture %}
      {% capture lang %}{% if post_lang != site_lang %}{{ post_lang }}{% endif %}{% endcapture %}

      <li{% if lang != empty %} lang="{{ lang }}"{% endif %}>
        <header class="post-header">
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}{% if post.external-url %} &rarr;{% endif %}</a>
          </h3>

          <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
        </header>
      </li>
    {% endfor %}
  </ul>
  </section>

</div>
